# Multiple Linear Regression With ScikitLearn
**Author**: Tan Li Tung

**Machine learning** is a method used to iteratively learn from data without being explicitly programmed by humans. It is very useful when we want to find a pattern that lies within a large dataset.

There are two types of machine learning problem, which are the **Regression** and **Classification** problem. In short, regression problem returns a value (example: the extimated price of a house), while classfication problem returns a category (exmaple: cat or dog).

In this notebook, we will focus on **Multiple Linear Regression** using a library called `ScikitLearn`.

In this section, we will use a daataset called KC House Data. 

- For original dataset, get it [here](https://www.kaggle.com/shivachandel/kc-house-data).

- For modified dataset, get it [here](https://github.com/tanlitung/Datasets/blob/master/kc_house_data.csv)

- To import directly to pandas, use this URL: https://raw.githubusercontent.com/tanlitung/Datasets/master/kc_house_data.csv

In [1]:
# libraries for random number
from random import seed
from random import random

# libraries for numerical
import pandas as pd  
import numpy as np

# libraries for visualization
import matplotlib.pyplot as plt  
import seaborn as sns

# libraries for machine learning
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics

# to plot the diagrams within the cells
%matplotlib inline

In [11]:
df = pd.read_csv('kc_house_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

As you can see, there is no `Null` or `NaN` in the dataset. So lets proceed to break the dataset into features and target. Features is the input to the model and target is the expected output from the model. We will examine the number of features against the R2 score of the model.

In [24]:
features = df.drop('price', axis = 1)

# Since the ID and date do not affect the outcome, we will drop it.
features.drop('id', axis = 1, inplace = True)
features.drop('date', axis = 1, inplace = True)

# Change the .iloc[:, 1:n] for n between 18 to 2 or directly comment out the line below to keep all features.
# features.drop(features.iloc[:, 1:4], axis = 1, inplace = True) 
target = df['price']
features.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Next, we will split the dataset into training set and testing set. This can be done by using the function `train_test_split` from `Scikit Learn`.

**Syntax and Paramenters**: train_test_split(features_dataset, target_dataset, test_size, random_state)
- features_dataset: the input dataset to the model
- target_dataset: the output dataset to the model
- test_size: the percent of data that you want to use for testing, usually from (0.2 - 0.4)
- random_state: randomly split the train and test dataset

In [27]:
train_features, test_features, train_target, test_target = train_test_split(features, target, test_size = 0.2, random_state = 5)
print(train_features.shape)
print(train_target.shape)
print(test_features.shape)
print(test_target.shape)

(17290, 18)
(17290,)
(4323, 18)
(4323,)

Once again, we will use the LinearRegression() model in this case and we fit the train_features and train_target to the model.

In [28]:
model = LinearRegression(normalize = True)
model.fit(train_features, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

Once fitting is done, we will do the evaluation using both train dataset and test dataset.

In [29]:
# Model evaluation for training set
y_train_pred = model.predict(train_features)
rmse = (np.sqrt(mean_squared_error(train_target, y_train_pred)))
r2 = r2_score(train_target, y_train_pred)

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

# Model evaluation for testing set
y_test_pred = model.predict(test_features)
rmse = (np.sqrt(mean_squared_error(test_target, y_test_pred)))
r2 = r2_score(test_target, y_test_pred)

print("The model performance for testing set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

The model performance for training set
--------------------------------------
RMSE is 201016.80578429985
R2 score is 0.699631721212128


The model performance for testing set
--------------------------------------
RMSE is 202682.1320953193
R2 score is 0.6993311796454343

# Conclusion
We have covered from a simple $y = \beta_0 + \beta_1 x $ linear regression, then polynomial linear regression and to multiple linear regression! This sums up the topic of linear regression. To learn more about ScikitLearn, you can visit the [ScikitLearn Official Documentation](https://scikit-learn.org/stable/).

# Things to Remember
Data Science is not all about Python and all the fantastic libraries. It is about how you gain valueable insights or knowledge from the data to assist you or your organization in making better decision! Python is just one of the tools to achieve that!

# What's Next
Now, you have seen how to perform machine learning using `ScikitLearn`. Next, you can try to apply what you learn on different datasets! Here are some awesome [datasets](https://scikit-learn.org/stable/datasets/index.html) you can use to try it out! 

This dataset are from `ScikitLearn` itself, do try it out for the boston and diabetes dataset!

Also, you can explore more tools and libraries like PyTorch and TensorFlow in the future! But that is another whole new story!

Good luck and all the best!